.brand-logos-outer {
    text-align: center;
    margin: 30pt 0;
}

.brand-logos { display: inline-block }
.brand-logo { margin: 0 15px }
.brand-logo.gospaces { width: 110px; height: 110px }
.brand-logo.robothive { width: 200px; height: 68px; padding: 21px 0 }
.brand-logo.timeplay { width: 217px; height: 40px; padding: 35px 0 }
.brand-logo.shomi { width: 102px; height: 30px; padding: 20px 0 }
.brand-logo.tangerine { width: 145px; height: 30px; padding: 20px 0 }
