---
common-js:
  - "/js/nav.js"
  - "/js/katex_render.js"
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="col-main">

          {% if page.main_image.url %}
            <div class="page-main-image">
              <img src="{{ page.main_image.url }}" />
              {% if page.main_image.caption %}<p>{{ page.main_image.caption | markdownify }}</p>{% endif %}
            </div>
          {% endif %}

          {{ content }}
        </div>
        <div class="col-second">
          {% include sidebar.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}

  </body>

</html>
